html,
body
{
	background-color: transparent;
	background-image: url('../img/scanguide.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;

	width: 100%;
	height: 100%;
}

body *
{
	outline: 0px solid rgba(0, 0, 0, 0.21);
	transition: opacity .25s ease-in-out;
	opacity: 1;
} 

a
{
	color: black !important;
	text-decoration: none !important;
}

ul, ol { list-style-type: none; padding: 0; margin: 0; }

input[disabled] ~ * { opacity: 0.40; }

/* make input groups have equal length. */
.input-group > .input-group-prepend { flex: 0 0 3rem; }
.input-group .input-group-text { width: 100%; }

/* center icons in input group prepents */
.input-group-text i
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* add a minimal space between form rows */
.form-row
{
	margin-bottom: 2px;
}

/* Fix bootstrap failing to scroll dialogs during race conditions. */
.modal {
    overflow-y: scroll !important;
}

#loading
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(176, 256, 160);
	background-color: white;
	opacity: 1;
	transition: opacity 0.42s ease-out;
	z-index: 99;

	background-image: url('../img/logo.png');
	background-position: center;
	background-size: 12rem;
	background-repeat: no-repeat;
	/*
	background: linear-gradient(rgb(235, 235, 235), rgb(160, 160, 160));
	*/
}

/* Vertically align the checkboxes with the input in the metadata profile form. */
#metadata input[type="checkbox"],
#share_metadata input[type="checkbox"]
{
	display: inline-block;
	height: 100%;
	margin-top: 0;
	padding: 0;
	vertical-align: middle;
}

/**/
#ui_header
{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;

	line-height: 3rem;
	font-size: 1.5rem;

	vertical-align: center;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	
	background-color: rgb(230, 230, 230);

	box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.35);
	border-bottom: 0.25rem solid white;
}

#ui_main
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	background: linear-gradient(rgb(235, 235, 235), rgb(160, 160, 160));
	overflow: auto;
}

#ui_main > #ui_view_services
{
	margin-bottom: 3.15rem;
}

/* Hide the service template from being presented to the user. */
#service_template { display: none !important; }

#ui_main #service_list > li
{
	display: block;
	width: 100%;
	height: auto;

	opacity: 1;
	
	border-radius: 0.5rem;
	border: 0.25rem solid white;
	box-shadow: 0rem 0rem 0.10rem rgba(0, 0, 0, 0.61), 0rem 0.1rem 0.25rem rgba(0, 0, 0, 0.35);
	margin-bottom: 0.5rem;
	background-color: white;
}

#service_list .service_block_header
{
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 4rem;
	padding: 0.50rem;
	border-radius: 0.33rem;
	background-color: rgb(200, 200, 200);
}

#service_list .service_logo
{
	width: 3.0rem;
	height: 3.0rem;
	padding: 0.5rem;
	border: 0rem;
	border-radius: 0.25rem;
	background-color: white;
	box-shadow: inset 0rem 0rem 0.10rem black, 0rem 0rem 0.10rem white;
}

#service_list .service_block_header > div
{
	display: flex-box;
	flex-direction: column;

	margin-left: 0.50rem;
	border-left: 0.05rem solid rgba(256, 256, 256, 0.42);
	padding-left: 0.50rem;
}

#service_list .service_name
{
	flex: 2;

	display: block;
	font-size: 1.50rem;
	font-weight: bold;
	margin-top: 0.15rem;
	line-height: 1.75rem;
}

#service_list .service_url
{
	flex: 1;

	display: block;
	font-size: 0.90rem;
	font-style: italic;
	line-height: 1.25rem;
	margin-top: -0.15rem;
	margin-left: 0.10rem;
	opacity: 0.67;
}

.service_identities
{
	padding-top: 0.25rem;
}

.service_identities > li
{
	display: flex;
	flex-direction: row;

	border-top: 0.05rem solid rgb(224, 224, 224);
	padding: 0.25rem;
}

.service_identities > li > span,
.service_identities .identity_logo
{
	flex: 3.5rem;
	display: inline-block;
	width: 3.5rem;
	height: 2.5rem;

	padding: 0.25rem 0.75rem;
	font-size: 2.0rem;
	text-align: center;
}
.service_identities > li > div
{
	flex: 999;
	display: flex;
	flex-direction: column;

	margin-left: 0.25rem;
	padding-left: 0.5rem;
	border-left: 0.05rem solid rgba(0, 0, 0, 0.21);
}

.service_identities > li > div > span:first-child
{
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-top: -0.10rem;
}
.service_identities > li > div > span:last-child
{
	font-size: 0.90rem;
	line-height: 1.25rem;
	margin-top: -0.30rem;
	margin-left: 0.05rem;
	color: rgba(0, 0, 0, 0.50);
}

.service_identities li:first-child { border-top: 0px solid white; }

.service_identities .identity_name
{
  width: 21ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ui_footer
{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3rem;

	vertical-align: center;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	
	background-color: rgb(230, 230, 230);

	box-shadow: 0 -0.15rem 0.15rem rgba(0, 0, 0, 0.35);
	border-top: 0.25rem solid white;
}

#ui_footer > a { flex: 1; }
#ui_footer > #ui_interact { flex: 1; }

#ui_footer > a
{
	display: inline-block;
	font-size: 1.25rem;
}

#ui_footer > a#ui_profile,
#ui_footer > a#ui_settings
{
	padding-top: 0.42rem;
	text-align: center;
}

#ui_footer > #ui_interact > div
{
	position: absolute;
	bottom: -4rem;
	left: 50%;
	
	height: 8rem;
	width: 8rem;

	margin-left: -4rem;

	text-align: center;
	border: 0.10rem solid white;
	border-top-width: 0.25rem;
	border-radius: 999rem;

	background-color: rgb(220, 220, 220);
	box-shadow: 0px -0.15rem 0.15rem rgba(0, 0, 0, 0.42);
}

#ui_footer > #ui_interact > div > span
{
	font-size: 2.5rem;
	margin-top: 1.00rem;
}

#verify_identity .modal-header
{
	background-color: red;
}

#verify_identity .modal-title
{
	width: 100%;
	text-align: center;
	font-weight: normal;
}

#verify_identity  li
{
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 0.25rem;
	border: 0.10rem solid rgba(0, 0, 0, 0.31);
	margin-bottom: 0.25rem;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

#verify_identity  li .identity_logo
{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.5rem;
	padding: 0.5rem;
	padding-right: 0.33rem;
	text-align: center;
}

#verify_identity  li .identity_name
{
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 4rem);
	height: 2.33rem;
	line-height: 2.33rem;
	padding-left: 1ex;
	border-left: 1px solid rgba(0, 0, 0, 0.31);
	overflow: hidden;
	text-overflow: ellipsis;
}

#verify_identity ul.empty *
{
	text-align: center;
}

#verify_identity ul.empty  li span
{
	color: rgba(0, 0, 0, 0.50);
}

#verify_identity section
{
	padding-bottom: 0.50rem;
}
#verify_identity section > span
{
	font-weight: bold;
	font-style: italic;
	margin-left: 0.5ex;
	color: rgba(0, 0, 0, 0.65);
}

#verify_identity modal-footer { text-align: center; }
#verify_identity modal-footer button { width: 100%; }
